[flake8]
max-line-length = 120
select = E, W, F, C, Q0, MOD001, CCR001
exclude = FS002, F821

# enforce single quote fstrings
# this removes `'asd %r asd' % (var)` kind of stuff
inline-quotes = single

max-cognitive-complexity = 10
