geopy==1.22.0
tweepy==3.5.0
mygengo

# used by weather, timezones and mlb
pytz==2022.1

# system plugin, used to get bot memory usage
psutil==5.9.*

# calculator plugin, optional
pyparsing==3.0.*

# spellcheck plugin, optional
pyenchant==3.2.2
